<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Yash Thakkar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">


  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->


  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />


  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">


  <link href="/assets/css/style.css" rel="stylesheet">


</head>

<body>

 
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>


  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Yash Thakkar <span id="sName">(Saubhagya) <br> Formerly Known: Bhavesh Thakkar</span></a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.facebook.com/MysticalYash/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
          <a href="https://twitter.com/Mysticalyash" class="instagram" target="_blank"><i class="bx bxl-twitter"></i></a>
          <a href="https://instagram.com/Mysticalyash" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.linkedin.com/in/saubhagyat/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About Me</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-user"></i> <span>My Skills</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>My Career Journey ...</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>My Certifications</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>My Projects</span></a></li>
          <li><a href="#testimonials" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Testimonials</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Let's Connect</span></a></li>
        </ul>
      </nav>
    </div>
  </header>


  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h3 style="font-size: 24px; font-weight: 400; color: #fff;">Hi There!</h3>
      <h1>Yash Thakkar <span id="sname">(Saubhagya)</span></h1>

      <p class="typ">I'm a <span class="typed" data-typed-items="Spiritual Mentor,Senior Professional ,Certified Yoga & Meditation Teacher"></span></p>
    </div>
  </section>

  <main id="main">

    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Me</h2>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="/assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Senior Professional</h3>

<p>I consider myself as a well-rounded highly empowered, result-driven, knowledgeable professional with strong spiritual background as certified Yoga practioner & a Mediation trainer offering an eventful career over 15 years with professional brilliance in Foreign Banking, HR (L&D) Operations, and Management with extensive scope of responsibilities, proven success, and track record in high growth environment. 
  <br> <br>
  Experience in Banking sector internationally includes KYC, AML, CASA Acquisition, FD, Loans etc. Skilled in cross & upselling need to need basis, NRE-NRI Portfolio Management, AUDIT preps, Intune with CAPEX-OPEX, Branch Ranking, NII, DSR etc.
  
  <br> <br>

  <span id="dots">...</span><span id="mor" style="display: none;">
    
  
  Through my commercial work experience & various certifications, I have demonstrated excellence in formulating and implementing tactical initiatives to achieve business strategic goals.
  <br> <br>
  ​
  My client have always called me ‘ SKILLED STRATEGIST WITH PLEASANT  PERSONALITY ’- who transforms strategic plans into workable solutions through the appropriate use of resources and technology with proficient client interaction and exhibiting excellent professionalism.
  <br> <br>
  
  I have been awarded Honors Degree from the prestigious London Metropolitan University in International Relations and Public Administration and been accredited as Professional Banker by the Chartered Institute of Bankers (CIB - United Kingdom). I worked as Risk & Compliance Manager in escalation team at the British High Commission in London for 3 years. And have also worked as regional complaints handler with Royal Bank of Scotland in London.
    <br><br>
    Responsible for building, engaging, &
    retaining large teams, executing
    operational strategies to ensure
    profitable growth of the organisation
    with no compromise on set Quality
    standards & compliance. Enhanceing
    softskills with various practical
    learnings through mental-wellness &
    physical fitness.
    
    
    As of now, risk and compliance, process enhancement is my current domain expertise.
    Currently pursuing competitive Exams of UPSC for IAS.</span></p>

<div class="text-center"><button onclick="myFunction()" id="myBt">Read More</button></div>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("mor");
  var btnText = document.getElementById("myBt");

  if (dots.style.display !== "none") {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  } else {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
 
  }
}
</script>

          </div>
        </div>

      </div>
    </section>

    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>More About Me</h2>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="/assets/img/profile-img2.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <p>
              <br>

              I'm also known as 'Saubhagya', am an International Faculty from The Art of Living - the largest NGO founded by renowned Humanitarian &amp; Spiritual Leader, Gurudev Sri Sri Ravi Shankar Ji.
              <br><br>I am very passionate about bringing mental well-being and physical fitness by contributing to the society with various programs & workshops.
            </p>
            <a style="position: absolute;bottom: 0; right: 0; margin-right: 2.5rem;" href="#" ><span class="link-click text-right" style="font-weight:600; border-bottom:0.5px solid #c6c6c6;padding-bottom: 1px; ">Click Here for Upcoming Events</span></a>
          </div>
        </div>

      </div>
    </section>


    <!-- <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>More About Me</h2>
        </div>
        <div class="row">
         
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <div class="col-lg-4" data-aos="fade-left" style="display: flex
            ;">
              <img src="/assets/img/profile-img2.jpeg" class="img-fluid" alt="">
            </div>
              <p>
                I'm also known as 'Saubhagya', am an International Faculty from The Art of Living - the largest NGO founded by renowned Humanitarian &amp; Spiritual Leader, Gurudev Sri Sri Ravi Shankar Ji.
                <br><br>I am very passionate about bringing mental well-being and physical fitness by contributing to the society with various programs & workshops.
              </p>
              <a style="position: absolute;bottom: 0; right: 0; margin-right: 2.5rem;" href="#" ><span class="link-click text-right" style="font-weight:600; border-bottom:0.5px solid #c6c6c6;padding-bottom: 1px; ]">Click Here for Upcoming Events</span></a>

            </div>
          </div>

 
        </div>
      </div>
    </section> -->

   

    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>My Skills</h2>
          <p></p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Persuasion & Influencing Skills<i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Team Player<i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Multitasking<i class="val">98%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Content Creation <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Public Speaking <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Design Thinking <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Time & Crisis Management <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Leadership <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Detail Researcher <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Analytical Thinking <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Innovative aptitude <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              </div>

              <div class="progress">
                <span class="skill">Decision Making <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                
              
            </div>

          </div>

        </div>

      </div>
    </section>

    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>My Career Journey ...</h2>
          </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            
            <div class="resume-item">
              <h5>NOV 2017 - PRESENT</h5>
              <h4>Head - Corporate Relations</h4>
              
              <p>Joined as Head - L&D | Sumeru Global Support Solutions Pvt.Ltd (GSS)- Bangalore - India.</p>
            </div>
            <div class="resume-item">
              <h5>JAN 2016 - OCT 2017</h5>
              <h4>Regional Co-ordinator - South India</h4>
              
              <p>The Art Of Living Corporate Programs</p>
            </div>
            <div class="resume-item">
              <h5>FEB 2016 - APR 2016</h5>
              <h4>Migration to India from UK</h4>
              
              <p>Career Break & Volunteer at
                World Cultural - Festival- Delhi, India</p>
            </div>
            <div class="resume-item">
              <h5>APR 2014 - JAN 2016</h5>
              <h4>Risk & Compliance Manager (Quality Assurance)</h4>
             
              <p>MY LOCUM UK LTD. Department of Health. Internship
                Immigration & Consulate Services - Quality & Risk Section for
                5 months (British High Commission - NHS Health
                Sector) - London - UK</p>
            </div>
            <div class="resume-item">
              <h5>NOV 2013 - APR 2014</h5>
              <h4>HR & Operations Manager</h4>
              <p>E-TEK Solutions UK LTD. - London- UK
              </p>
            </div>

            <div class="resume-item"><h5>JUL 2009 - OCT 2013</h5>
              <h4>Complaints & Internal Compliance Manager</h4>
              <p>Royal Bank Of Scotland (Natwest Bank PLC) - London - UK
              </p>
            </div>
            <div class="resume-item">
              <h5>JUN 2009</h5>
              <h4>Customer Advisor</h4>            
              <p>Her Majesty & Crown Post Office, London-UK</p>
            </div>
            <div class="resume-item">
              <h5>AUG 2008
              </h5>
              <h4>Moved to United Kingdom - London for Higher Education</h4>

             
            </div>
            <div class="resume-item">
              <h5>2006 - 2008</h5>
              <h4>Legal Assistant</h4>

              <p>Advocate Suresh Khanavkar & Public Notary
                Customer Service Executive & Patient Relations
                DR. More’s Pathology & Immunoassay, Mumbai</p>
            </div>
            
          </div>
          <div class="col-lg-6" data-aos="fade-up">
  
            <h3 class="resume-title">My Education</h3>
            <div class="resume-item">
              <h5>PRESENT</h5>
              <h4>Pursuing UPSC - IAS Exams.</h4>
             
             
            </div>
            <div class="resume-item">
              <h5>2015</h5>
              <h4>CIPD Level4 Diploma in Human
                Resource</h4>
              
              <p> London, UK</p>
            </div>
            <div class="resume-item">
              <h5>2013</h5>
              <h4>M.A (Honors) in Public Relations</h4>
              
              <p>London Metropolitan University , UK</p>
            </div>
            <div class="resume-item">
              <h5>2011</h5>
              <h4>B.A (Honors) in International Relations</h4>
              
              <p>London Metropolitan University , UK</p>
            </div>

            <h3 class="resume-title">Certifications </h3>
            <div class="resume-item">
              <h5>2020</h5>
              <h4>Digital Media, Cyber Security & Patrolling</h4>
             
            </div>
            <div class="resume-item">
              <h5>2016</h5>
              <h4>Six Sigma – Green Belt</h4>
             
            </div>
            <div class="resume-item">
              <h5>2015</h5>
              <h4>LSC Level2 / OISC Level 2 & 3 Training</h4>
            
            </div>
            <div class="resume-item">
              <h5>2011</h5>
              <h4>NHS Certified Phlebotomist</h4>
             
            </div>

          </div>
        </div>

      </div>
    </section>


    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>My Certifications</h2>
          <p>.</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                
              </div>
            </div>
          </div>
  

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
     
              <div class="portfolio-wrap">
                <img src="/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>

  

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                

              </div>
            </div>
          </div>

          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                
              </div>
            </div>
          </div> -->

       

          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                
              </div>
            </div>
          </div> -->

        </div>

      </div>
    </section>


<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>My Projects</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="bi bi-x-diamond-fill"></i></div>
        <h4 class="title"><a href="">Lead - International Guest</a></h4>
        <p class="description">Hospitality
          Team (UK Portfolio) - WORLD CULTURE
          FESTIVAL, Delhi India.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="bi bi-bank"></i></div>
        <h4 class="title"><a href="">Team Lead - Press & Hospitality</a></h4>
        <p class="description"> UK
          WELCOMES PM NARENDRA MODI -
          WEMBLEY, LONDON
          </p>
      </div>

      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="bi bi-bar-chart"></i></div>
        <h4 class="title"><a href="">Coordinator for Immigration & German
          Embassy</a></h4>
        <p class="description"> UK - WORLD CULTURE FESTIVAL -
          BERLIN, GERMANY</p>
      </div>
    </div>
  </div>

    <!-- <div class="container">
      <div class="section-title" style="position: relative;">
        <h2>Art Of Living Events</h2>
      </div>
      </div>


 
      <div class="row">
        <% events.forEach(function(event){ %>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
  <a href="<%=event.url%>">
          <div class="icon"><i class="bi bi-x-diamond-fill"></i></div>
          <h4 class="title"><a href="<%=event.url%>"><%= event.eventName%></a></h4>
          <p class="description"> <%= event.eventMonth%> <%=event.eventDate%></p>
        </div>
        <% }); %>
      </div> --> 

       
        

            <!-- <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-translate"></i></div>
              <h4 class="title"><a href="">German</a></h4> 
    
            </div>
          </a> -->

            <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200" style="margin-left:0.5rem ;">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              
              
            </div>
       
          
 
   

 
      
    </div> -->
      
      

 
</section>

    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Linguistic Ability</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 icon-box linguist" data-aos="fade-up" style="align-items: center; justify-content: center;">
           
            <div class="icon"><i class="bi bi-translate"></i></div>
                <h4 class="title lingu"><a href="">English</a></h4> 
             
             
         

          </div>

          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
  
              <div class="icon"><i class="bi bi-translate"></i></div>
            <h4 class="title lingu"><a href="">Hindi</a></h4>
 
          </div>

          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
           
            <div class="icon"><i class="bi bi-translate"></i></div>
            <h4 class="title lingu"><a href="">Gujarati</a></h4>
          
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
       
              <div class="icon"><i class="bi bi-translate"></i></div>
            <h4 class="title lingu"><a href="">Kannada</a></h4>
       
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
       
              <div class="icon"><i class="bi bi-translate"></i></div>
            <h4 class="title lingu"><a href="">Marathi</a></h4> 
       
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        
              <div class="icon"><i class="bi bi-translate"></i></div>
            <h4 class="title lingu"><a href="">German</a></h4> 
    
          </div>
        </div>

      </div>
    </section>

    <section id="testimonials" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>.</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/portfolio/test/t (1).jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/assets/img/portfolio/test/t (1).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

         
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
          <img src="/assets/img/portfolio/test/t (2).jpg" class="img-fluid" alt="" style="float: left;">
          <div class="portfolio-links">
            <a href="/assets/img/portfolio/test/t (2).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
          </div>
          </div>
            </div> 

            
              <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
            <img src="/assets/img/portfolio/test/t (5).jpg" class="img-fluid" alt="" style="float: left;">
            <div class="portfolio-links">
              <a href="/assets/img/portfolio/test/t (5).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
            </div>
            </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
            <img src="/assets/img/portfolio/test/t (3).jpg" class="img-fluid" alt="" style="float: left;">
            <div class="portfolio-links">
              <a href="/assets/img/portfolio/test/t (3).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
            </div>
            </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
            <img src="/assets/img/portfolio/test/t (6).jpg" class="img-fluid" alt="" style="float: left;">
            <div class="portfolio-links">
              <a href="/assets/img/portfolio/test/t (6).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
            </div>
            </div>
              </div>

        
        </div>

      </div>
    </section>

    <!-- <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I must thank you for all your help. You went out of the way to be so kind and help me with my Banking
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>D L Thomas</h3>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Extremely Satisfied. The staff are good friends to me now and they are really good as they are friendly. The Staff members were confident with what theyre doing.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>A satisfied customer</h3>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I was very Happy with the assistance which Bhavesh Thakkar has given. I had a query regarding my ISA Savings account which Bhavesh has Dealt with thoroughly and professionally.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Anthony Pugh</h3>
              </div>
            </div>


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> -->


    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Let's Connect</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p> <a href="mailto:mysticalyash@gmail.com"><span>mysticalyash@gmail.com</span></a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>(+91) 815 181 5105</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="https://formsubmit.co/yashthakkarofficial@gmail.com" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>

  </main>

  <!-- ======= Footer ======= -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>